[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql-connector-python = "*"
python-dotenv = "*"
requests = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
