<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- CSS & Fonts-->
        <link rel="stylesheet" type= "text/css" href="{{ stylesheet }}" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap">
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ favicon }}">
        <!-- Bootstrap CSS -->
        <script src="https://kit.fontawesome.com/a2f275854f.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trending Plays</title>
    </head>

    <body>
        <!--Header Section-->
        <header>
            <!--Nav Bar-->
            <nav class="nav-bar">
                <a href="/"><img class="logo" src="{{ logo }}"></a>
                <a class="nav-item" href="#">About</a>
                <a  class="nav-item" href="https://github.com/karenastevens/trending-plays" target="_blank">Contribute</a>
            </nav>
        </header>
        <main>
            <!--Daily List-->
            <div class="trend-list">
                <div class="daily-list">
                    <h2>TRENDING TODAY <i class="fa-solid fa-fire-flame-curved"></i></h2>
                        <ol class="list-items">
                            <li>AJDC <i class="fa-solid fa-fire-flame-curved"></i></li>
                            <li>DDAF <i class="fa-solid fa-fire-flame-curved"></i></li>
                            <li>AAEG <i class="fa-solid fa-fire-flame-curved"></i></li>
                            <li>MSFT</li>
                            <li>CMMA</li>
                            <li>JAIQ</li>
                            <li>KKIC</li>
                            <li>NNWQ</li>
                            <li>VJJI</li>
                            <li>JJFD</li>
                        </ol>
                </div>
            </div>
            <!--Weekly List-->
            <div class="trend-list">
                <div class="weekly-list">
                    <h2>TRENDING WEEKLY <i class="fa-solid fa-fire-flame-curved"></i></h2>
                        <ol class="list-items">
                            <li id="weekly-1"> <i class="fa-solid fa-fire-flame-curved"></i></li>
                            <li id="weekly-2"> <i class="fa-solid fa-fire-flame-curved"></i></li>
                            <li id="weekly-3"> <i class="fa-solid fa-fire-flame-curved"></i></li>
                            <li id="weekly-4"></li>
                            <li id="weekly-5"></li>
                            <li id="weekly-6"></li>
                            <li id="weekly-7"></li>
                            <li id="weekly-8"></li>
                            <li id="weekly-9"></li>
                            <li id="weekly-10"></li>
                        </ol>
                </div>
            </div>
        </main>
    </body>
</html>
